@viewport {
  zoom: 0.75;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.half {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.map {
  width: 640px;
  height: 640px;
  margin: 0 auto;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#map-titles{
  margin-top: 0;
}

#coordinates {
  font-family: Verdana, sans-serif;
}

form {
  margin-top: 10px;
}

#saveMapButton {
  margin-top: 15px;
}

#coordinates{
  margin-top: 10px;
}

#getPoints{
  margin-left: 0 auto;
}

#switchDebug{
  margin-left: 45px;
}

#handSelectDiv {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#handSelectDiv button {
  font-size: 24px;
  padding: 16px 32px;
  margin: 10px;
}

a#RmapDownload,
a#AmapDownload {
  display: none;
}


#toolsDiv{
  margin-top: 5px;
}

#filePath {
  resize: none;
  overflow: hidden;
  height: 30px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: #000;
}

label.checkbox-label {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

p {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}